@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 
body {
    height:100vh;
    display:flex;
    flex-direction:column;
    justigy-content:center;
    align-items:center;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'poppins', sans-serif;
}
button {
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    border: none;
    font-size: 16px;
    margin: 3px 2px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container h1 {
    color:gold;
    font-size: 20px;
}
.calculator {
    border: 1.5px solid white;
    padding: 10px;
    border-radius: 5px;
}
.calculator input {
    border-radius: 5px;
    outline: none;
    text-align: right;
    box-sizing: border-box;
    height: 50px;
    margin: 15px 0px;
    width: 100%;
    padding: 5px 12px ;
    border: none;
    font-size: 15px;

}
.yellow-btns {
    background-color: #FFA500;
    font-size: 24px;
}
.top-btns {
    background-color: #d3d3d3;
    color: black;
}

